{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>GleaAgg Client: Configure</h1>
    <p class="lead"> Page to configure client
  </div>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.test1, class="form-control")}}
      <p>Current Value: {{ test1 }}</p>
    </div>
    <div class="form-group">
      {{render_field(form.test2, class="form-control")}}
      <p>Current Value: {{ test2 }}</p>
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}
